@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
  --background-colour: #fff;
  --background-colour-primary: #fff;
  --background-colour-secondary: #eff2f5;

  --colour-black: #000;
  --colour-white: #fff;
  --border-colour: #cbd6dc;
  --text-secondary: #e3f2ff;

  --graph-light-bg: #fff;
  --graph-dark-bg: #050505;
  --graph-light-border: #cbd6dc;
  --graph-dark-border: #333; 

  --link-colour: #3a59f6;
}

#night-mode{
  --background-colour: #122438;
  --background-colour-primary: #2d929d;
  --background-colour-secondary: #3a738e;

  --colour-black: #000;
  --colour-white: #fff;
  --border-colour: #2e2e2e;
  --text-secondary: #e3f2ff;

  --link-colour: #3a59f6;
}

*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'IBM Plex', sans-serif
}

html{
  scroll-behavior: smooth;
}

div::-webkit-scrollbar{
  height: 8px;
}

div::-webkit-scrollbar-track{
  border-radius: 12px;
}

div::-webkit-scrollbar-thumb{
  background-color: var(--background-colour);
  border-radius: 12px;
  width: 20%;
}

.red{
  color: red !important;
}

.green{
  color: green !important; 
}

p.red{
  font-weight: 600 !important
}

a{
  color: var(--colour-white);
  text-decoration: none;
}

i{
  color: var(--colour-white);
}

img{
  object-fit: cover;
}

body{
  background: var(--background-colour);
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: all 0.5s ease;
}

.main{
  flex: 1;
  min-height: calc(100vh - 120px);
}

.global{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 16px 20px;
}

.global p{
  font-size: 12px;
  color: var(--colour-white);
}

.global p span{
  font-weight: 600;
}

nav{
  display:  flex;
  align-items: centre;
  justify-content: space-between;
  background: var(--background-colour-primary);
  padding:  14px 20px;
  border-top: 1px solid var(--border-colour);
  border-bottom: 1px solid var(--border-colour);

}


nav .left-section,
nav .right-section{
  display: flex;
  align-items: center;
  gap: 30px;
}

nav .left-section .logo{
  font-weight: 600;
  font-size: 26px
}

nav .left-section .nav-links{
  display: flex;
  gap: 10px;
}

nav .left-section .nav-links a{
  font-size: 15px;
  padding: 10px 14px; 
  border-radius: 13px;
  color: var(--text-secondary);
  transition: all 0.3s ease;
}

nav .left-section .nav-links a.active,
nav .left-section .nav-links a:hover{
  background: var(--background-colour-secondary);
  color: var(--colour-white);
}

nav .right-section{
  width: 30%;
  gap: 20px;
}

nav .right-section .search{
  display: flex;
  align-items: center;
  background: var(--background-colour-secondary);
  padding: 0px 20px;
  border-radius: 12px;
  width: 100%;
}

nav .right-section input{
  padding: 10px 6px;
  background: var(--background-colour-secondary);
  color: var(--colour-white);
  font-size: 14px;
}

nav .right-section .search 
input::placeholder,
nav .right-section .search i{
  color: var(--text-secondary);
}

nav .right-section > i{
  padding: 8px;
  background: var(--background-colour-secondary);
  color: var(--colour-white);
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  transition: all;
}
